<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/logo1.png" />
    <title> Privacy Policy</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="pop.css">
    <script src="script.js" defer></script>
</head>
<body>
    <p class="pop-header">Privacy Policy at Reachify</p>
<div class="pop">
    
    <div class="pop-content">
        <p class="pop-content-header">Introduction</p>
        <div class="content-text">
            <p>At Reachify, we prioritize your privacy and the security of your personal information. This privacy  policy outlines our practices regarding the collection, use, protection, and sharing of information  obtained from users of our website. By accessing and using our website, you agree to the terms and  conditions set forth in this privacy policy.</p>

            <p class="pop-content-header">Information We Collect</p>
            

            <div class="per-info">
                <p class="text-header2">Personal Information</p>
                <p>When you engage with our website, we may collect personal information that you voluntarily  provide. This could include, but is not limited to:</p>

            <ul>
                <li>Name</li>
                <li>Email address</li>
                <li>Telephone number</li>
                <li>Any other relevant forms or customer service instruction</li>
            </ul>

            <p class="text-header2">Non-Personal Information</p>
            <p>Our website automatically collects certain non-personal information regarding your visit. This  information helps us to improve your user experience and may include: </p>

                <ul>
                    <li>IP address</li>
                    <li>Browser type and version</li>
                    <li>Operating System</li>
                    <li>Pages you visit on our site</li>
                    <li>Acess times and date</li>
                </ul> 
            </div>

            <div class="part2">
                <p class="text-header2">Please note:</p>
            <p> Reachify does not use cookies or similar tracking technologies to collect information  about your browsing activities.</p>


            <p class="text-header2">Use of Your Information</p>
            <p>The information we collect is used in a variety of ways, including:</p>
            <ul>
                <li>To improve our website and the services we other</li>
                <li>To response to your queries and fulfill your requests</li>
                <li>To send updates and marketing communication about our products and services</li>
                <li>To analyze website usage for improvement purposes</li>
                <li>To complify with legal requirements and product our website policies </li>
            </ul>
            </div>

            <div class="part3">
                <p class="text-header2">Sharing of Information</p>
            <p>Reachify is committed to not selling, trading, or renting your personal information to third parties.  However, your information may be shared under the following circumstances</p>
            <ul>
                <li> With service providers who perform functions on our behalf, under strict confidentiality  agreements</li>
                <li>With legal authorities, when required by law or to protect our rights and the safety of others </li>
                <li>With business partners for the purposes of joint marketing efforts or business transitions</li>
            </ul>

            <p class="text-header2">Data Security</p>
            <p>We adopt appropriate data collection, storage, and processing practices and security measures to  protect against unauthorized access, alteration, disclosure, or destruction of your personal  information. While we strive to use commercially acceptable means to protect your personal  information, no method of transmission over the Internet, or method of electronic storage is 100%  secure.</p>


            <p class="text-header2">Third-Party Links</p>
            <p>Our website may include links to external sites that are operated by third parties. Please be aware  that we do not control these external websites and are not responsible for their privacy practices.  We encourage you to read the privacy statements of any other site that collects personally  identifiable information</p>

            <p class="text-header2">Change to This Privacy Policy</p>
            <p>Reachify reserves the right to update or change our privacy policy at any time. Any changes will be  posted on this page with an updated revision date. We encourage you to review our privacy policy  periodically to stay informed about how we are protecting the information we collect.</p>

            <p class="text-header2">Contacting Us</p>
            <p>If you have any questions or comments about this privacy policy, please contact us at: Reachify Customer Service Support@reachify.marketing This privacy policy is effective as of 1.01.2024 and will be updated as necessary to reflect changes in  our practices or relevant regulations</p>
            </div>
        </div>
    </div>
</div>










<div class="footer">
    <hr><br>
 <!--  eighth /Footer -->
 <div class="eigth">
    <div class="eigth-logo">
        <img src="/logo1.png" alt="" srcset="">
        <h3>Reachify</h3>
    </div>
    <div class="eigth-details">
        <div class="eight-first">
            <p class="startp">Stay up to date on the latest features and releases by joining our newsletter</p>
            <div class="email-contact">
                <div class="eigth-email">
                    <div class="eight-email-inp">
                        <p>Email*</p>
                <input type="email" placeholder="Enter your e-mail" id="email" required>
                    </div>
                <div class="btn3">
                    <button type="submit">SUBSCRIBE</button>
                </div>
                </div>
                <p class="lastp">By subscribing you to our newsletters you agree to our <a href="../po/pop.html">privacy policy </a>
                    and consent to recieve updates from our company.</p>
            </div>

        </div>
        <div class="eight-second">
            <h2>Useful links</h2>
            <div class="second-details">
                <p><a href="../About/about.html">About Us</a></p>
                
                <p><a href="../client/client.html">Portfolio</a></p>
                <p><a href="../po/pop.html">Privacy Policy</a></p>
                <p><a href="../Refund-policy/refund.html">Pricing policy</a></p>
                <p><a href="../solutions/reachifyapp/reachifyapp.html">Reachify App</a></p>
                <p><a href="../solutions/Discordify/discordify.html">Discordify</a> </p>
                <p><a href="../solutions/CRM/crm.html">CRM</a> </p>
            </div>
        </div>
        <div class="eight-third">
            <h2>Get in touch</h2>
            <div class="third-contact">
                <div class="contact-icon"><div class="carbon--phone-filled"></div><p>+91 80693 78147</p></div>
                <div class="contact-icon"><div class="uiw--mail"></div><p>info@reachify.marketing</p></div>
                <div class="contact-icon"><div class="mdi--location"></div><p>123 sample st. muzzafarpur,<br>Bihar,India.</p></div>
            </div>
        </div>
        <div class="eight-fourth">
            <h2>Follow Us</h2>
            <div class="icons">
            <div class="social-icon"><div class="line-md--linkedin"></div><p><a href="https://www.linkedin.com/company/reachifyinnovations/">LinkedIn</a></p></div>
            <div class="social-icon"><div class="line-md--twitter-x"></div><p>Twitter</p></div>
            <div class="social-icon"><div class="basil--instagram-solid"></div><p><a href="https://www.instagram.com/reachify.marketing?igsh=MWdiOG9kdzByZzkwdg%3D%3D">Instagram</a></p></div>
            <div class="social-icon"><div class="simple-icons--facebook"></div><p>Facebook</p></div>
            </div>    
        </div>
    </div>

</div>

<!-- Copyright -->
<div class="copyright">
    <hr>
   <div class="copyright-text">
    <p class="copy">
        © 2024  Reachify - All Rights Reserved 
       </p>
       <div class="right-corner">
      
        <p> <a href="../tnc/tnc.html">Terms of Services</a></p>
       </div>
       
   </div>
</div>
</div>
</body>
</html>
