<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/logo1.png" />
    <title> Terms and condition</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="tnc.css">
    <script src="script.js" defer></script>
</head>
<body>
    <div class="tnc">
        <h1 class="tnc-head">Terms and conditions for Reachify</h1>
        <div class="content-tnc">
            <p class="tnc-header">Introduction</p>
        <p>Welcome to the Reachify website. These terms and conditions outline the rules and regulations for  the use of Reachify's Website, located at [website URL]. By accessing this website, we assume you accept these terms and conditions. Do not continue to use  the Reachify website if you do not agree to take all of the terms and conditions stated on this page. </p>
        
        
        <p>Intellectual Property Rights </p>    
        <p> Other than the content you own, under these Terms, Reachify and/or its licensors own all the  intellectual property rights and materials contained in this Website. You are granted a limited license  only for purposes of viewing the material contained on this Website</p>    
            
           
        <p>Restrictions</p> 

        <p>You are specifically restricted from all of the following:</p> 
        
        <ul>
            <li>Publishing any Website material in any other media without proper attribution.</li>
            <li>Selling, sublicensing, and/or otherwise commercializing any Website material.</li>
            <li>Publicly performing and/or showing any Website material.</li>
            <li>Using this Website in any way that is or may be damaging to this Website. </li>
            <li>Using this Website in any way that impacts user access to this Website.</li>
            <li>Using this Website contrary to applicable laws and regulations, or in a way 
                that causes, or  may cause, harm to the Website, or to any person or business entity.</li>
            <li>Engaging in any data mining, data harvesting, data extracting, or any other similar activity in  relation to this Website, or while using this Website.</li>
        </ul>
        
        <p>User Content</p> 

            <p>In these terms and conditions, “Your User Content” shall mean any audio, video, text, images, or  other material you choose to display on this Website. By displaying Your User Content, you grant  Reachify a non-exclusive, worldwide irrevocable, sub-licensable license to use, reproduce, adapt,  publish, translate, and distribute it in any and all media. Your User Content must be your own and must not be invading any third-party's rights. Reachify  reserves the right to remove any of Your User Content from this Website at any time, and for any  reason, without notice.</p>
        
        <p>No warranties </p>

        <p>This Website is provided "as is," with all faults, and Reachify expresses no representations or  warranties, of any kind related to this Website or the materials contained on this Website. Also,  nothing contained on this Website shall be interpreted as advising you.</p>
                        
        <p>Limitation of liability</p>
                        
        <p>In no event shall Reachify, nor any of its officers, directors, and employees, be held liable for anything  arising out of or in any way connected with your use of this Website, whether such liability is under  contract, tort, or otherwise, and Reachify, including its officers, directors, and employees, shall not  be liable for any indirect, consequential, or special liability arising out of or in any way related to your  use of this Website. 
        </p>

        <p>Indemnification</p>
                        
        <p> You hereby indemnify to the fullest extent Reachify from and against any and/or all liabilities, costs,  demands, causes of action, damages, and expenses arising in any way related to your breach of any  of the provisions of these Terms. </p>
                        
        <p>Severability</p>
        <p>If any provision of these Terms is found to be invalid under any applicable law, such provisions shall  be deleted without affecting the remaining provisions herein.</p>
        
        <p>Variation of Terms</p>
        <p>Reachify is permitted to revise these Terms at any time as it sees fit, and by using this Website, you  are expected to review these Terms on a regular basis. </p>

        <p>Assignment</p>

        <p>The Reachify is allowed to assign, transfer, and subcontract its rights and/or obligations under these  Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any  of your rights and/or obligations under these Terms.</p>

        <p>Governing Law & Jurisdiction</p>

        <p>These Terms will be governed by and interpreted in accordance with the laws of the State of India,  and you submit to the non-exclusive jurisdiction of the state and federal courts located in India for  the resolution of any disputes. This page was last updated on 1.01.2024 For any questions or clarifications regarding these terms, please contact us at  Support@reachify.marketing.</p>
                  
        </div>       
    </div>
    





















    <div class="footer">
        <hr><br>
     <!--  eighth /Footer -->
     <div class="eigth">
        <div class="eigth-logo">
            <img src="/logo1.png" alt="" srcset="">
            <h3>Reachify</h3>
        </div>
        <div class="eigth-details">
            <div class="eight-first">
                <p class="startp">Stay up to date on the latest features and releases by joining our newsletter</p>
                <div class="email-contact">
                    <div class="eigth-email">
                        <div class="eight-email-inp">
                            <p>Email*</p>
                    <input type="email" placeholder="Enter your e-mail" id="email" required>
                        </div>
                    <div class="btn3">
                        <button type="submit">SUBSCRIBE</button>
                    </div>
                    </div>
                    <p class="lastp">By subscribing you to our newsletters you agree to our <a href="../po/pop.html">privacy policy </a>
                    and consent to recieve updates from our company.</p>
                </div>
    
            </div>
            <div class="eight-second">
                <h2>Useful links</h2>
                <div class="second-details">
                    <p><a href="./components/About/about.html">About Us</a></p>
                    
                    <p><a href="./components/client/client.html">Portfolio</a></p>
                    <p><a href="./components/po/pop.html">Privacy Policy</a></p>
                    <p><a href="./components/Refund-policy/refund.html">Pricing policy</a></p>
                    <p><a href="./components/solutions/reachifyapp/reachifyapp.html">Reachify App</a></p>
                    <p><a href="./components/solutions/Discordify/discordify.html">Discordify</a> </p>
                    <p><a href="./components/solutions/CRM/crm.html">CRM</a> </p>
                </div>
            </div>
            <div class="eight-third">
                <h2>Get in touch</h2>
                <div class="third-contact">
                    <div class="contact-icon"><div class="carbon--phone-filled"></div><p>+91 80693 78147</p></div>
                    <div class="contact-icon"><div class="uiw--mail"></div><p>info@reachify.marketing</p></div>
                    <div class="contact-icon"><div class="mdi--location"></div><p>6/40, Business <br>complex Muzzafarpur,<br>Bihar,IN</p></div>
                </div>
            </div>
            <div class="eight-fourth">
                <h2>Follow Us</h2>
                <div class="icons">
                <div class="social-icon"><div class="line-md--linkedin"></div><p><a href="https://www.linkedin.com/company/reachifyinnovations/">LinkedIn</a></p></div>
                <div class="social-icon"><div class="line-md--twitter-x"></div><p>Twitter</p></div>
                <div class="social-icon"><div class="basil--instagram-solid"></div><p><a href="https://www.instagram.com/reachify.marketing?igsh=MWdiOG9kdzByZzkwdg%3D%3D">Instagram</a></p></div>
                <div class="social-icon"><div class="simple-icons--facebook"></div><p>Facebook</p></div>
                </div>    
            </div>
        </div>

    </div>
   
    <!-- Copyright -->
    <div class="copyright">
        <hr>
       <div class="copyright-text">
        <p class="copy">
            © 2024  Reachify - All Rights Reserved 
           </p>
           <div class="right-corner">
            <p><a href="./components/po/pop.html">Cookie Settings</a></p>
            <p> <a href="./components/tnc/tnc.html">Terms of Services</a></p>
           </div>
           
       </div>
    </div>
    </div>
</body>
</html>