<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/logo1.png" />
    <title> Contact Us</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="contact.css">
    <script src="/script.js"></script>
</head>
<body>
   <div class="con">
    <div class="aboutlogo">
        <img src="/logo1.png" alt="" srcset="">
        <h1 class="reachify"><a href="../../index.html">Reachify</a></h1>
    </div>

    <div class="contact">
        <div class="contact-left">
            <div class="contact-left-head">
                <h1>Contact Us</h1>
            </div>
            <div class="contact-mg">
                <div class="msg">
                    <p>Not sure where to start? Tell us about</p>
                    <p>your product, your timeline and how you</p>
                    <p>heard about us.</p>
                </div>
                <div class="msg">
                    <p>We read every message. So, thanks in</p>
                    <p>advance for making it a good one.</p>
                </div>
            </div>
            <br><br>
            <div class="address">
                <div class="third-contact">
                    <i class='bx bxs-phone'> +1 555(000)-0000</i>  
                    <i class='bx bxs-envelope'> info@reachify.marketing</i>
                    <div><div class="mdi--location"></div> 6/40 Business complex,Muzzafarpur,Bihar,IN</div>
                </div>
            </div>
        </div>
        <div class="contact-right">
                <form action="" id="myForm" method="get">
                    <p>Name*</p>
                    <input type="text"  id="inputText" oninput="autoCapitalize()" placeholder="Enter your name" required>
                    <br><br><br>
                    <p>Email*</p>
                    <input type="text"  id="emails" placeholder="Enter your e-mail" required>
                    <br><br><br>
                    <p>How did you hear about us?*</p>
                    <select id="hear" required!>
                        <option>Select your answer</option>
                        <option value="LinkedIn">Linkedin</option>
                        <option value="From a friend/colleague">From a friend/colleague</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Instagram">Instagram</option>
                        <option value="Other">Other</option>
                      </select>
                    <br><br><br>
                    <p>Enter your Phone number (optional)</p>
                    <input type="tel" pattern="[0-9]{10}" id="number"  placeholder="Enter your Number"/>
                    <br><br><br>
                    <p>How can we help you?*</p>
                    <div id="msg">
                    <input type="text " id="message" placeholder="Type your message">
                    </div>
                    <br>
                    <div class="check">
                        <input type="checkbox" class="circle-checkbox" required> Yes,I would like to recieve marketing communications form Reachify through phone and email. You can unsubscribe at any time.
                    </div>
                </form>
                <div class="submit-form">
                    <div class="btn3">
                        <button type="submit" id="showThankYouButton">SUBMIT FORM</button>
                    </div>
                </div>
               
               
                <div class="popup" id="popup">
                    <div class="content">
                        <div class="blob-1110"></div>
                        <div class="blob-1210"></div>
                        <div class="blob-1310"></div>
                      <h3 class="thank-you">Thank you!</h3>
                      <p class="team-message">Someone from our team will reach you shortly!</p>
                    </div>
                  </div>
                <div class="back">
                    <a href="../../index.html">Back to home</a>
                </div>
                <div class="agree">
                    <p>By clicking submit you agree to the <a href="../po/pop.html">Privacy Policy</a> and to the handling of your personal information.*</p>
                </div>
        </div>
    </div>
    
   </div>
<div class="blob-1101"></div>
    <div class="blob-1201"></div>
    <div class="blob-1301"></div>
    
    



    <div class="footer">
        <hr><br>
     <!--  eighth /Footer -->
     <div class="eigth">
        <div class="eigth-logo">
            <img src="/logo1.png" alt="" srcset="">
            <h3 class="reachify">Reachify</h3>
        </div>
        <div class="eigth-details">
            <div class="eight-first">
                <p class="startp">Stay up to date on the latest features and releases by joining our newsletter</p>
                <div class="email-contact">
                    <div class="eigth-email">
                        <div class="eight-email-inp">
                            <p>Email*</p>
                    <input type="email" placeholder="Enter your e-mail" id="email" required>
                        </div>
                    <div class="btn3">
                        <button type="submit">SUBSCRIBE</button>
                    </div>
                    </div>
                    <p class="lastp">By subscribing you to our newsletters you agree to our <a href="../po/pop.html">privacy policy </a>
                    and consent to recieve updates from our company.</p>
                </div>
    
            </div>
            <div class="eight-second">
                <h2>Useful links</h2>
                <div class="second-details">
                    <p><a href="../About/about.html">About Us</a></p>
                    
                    <p><a href="../client/client.html">Portfolio</a></p>
                    <p><a href="../po/pop.html">Privacy Policy</a></p>
                    <p><a href="../Refund-policy/refund.html">Pricing policy</a></p>
                    <p><a href="../solutions/reachifyapp/reachifyapp.html">Reachify App</a></p>
                    <p><a href="../solutions/Discordify/discordify.html">Discordify</a> </p>
                    <p><a href="../solutions/CRM/crm.html">CRM</a> </p>
                </div>
            </div>
            <div class="eight-third">
                <h2>Get in touch</h2>
                <div class="third-contact">
                    <div class="contact-icon"><div class="carbon--phone-filled"></div><p>+91 80693 78147</p></div>
                    <div class="contact-icon"><div class="uiw--mail"></div><p>info@reachify.marketing</p></div>
                    <div class="contact-icon"><div class="mdi--location"></div><p>6/40, Business <br>complex Muzzafarpur,<br>Bihar,IN</p></div>
                </div>
            </div>
            <div class="eight-fourth">
                <h2>Follow Us</h2>
                <div class="icons">
                <div class="social-icon"><div class="line-md--linkedin"></div><p><a href="https://www.linkedin.com/company/reachifyinnovations/">LinkedIn</a></p></div>
                <div class="social-icon"><div class="line-md--twitter-x"></div><p>Twitter</p></div>
                <div class="social-icon"><div class="basil--instagram-solid"></div><p><a href="https://www.instagram.com/reachify.marketing?igsh=MWdiOG9kdzByZzkwdg%3D%3D">Instagram</a></p></div>
                <div class="social-icon"><div class="simple-icons--facebook"></div><p>Facebook</p></div>
                </div>    
            </div>
        </div>

    </div>
   
    <!-- Copyright -->
    <div class="copyright">
        <hr>
       <div class="copyright-text">
        <p class="copy">
            © 2024  Reachify - All Rights Reserved 
           </p>
           <div class="right-corner">
          
            <p> <a href="../tnc/tnc.html">Terms of Services</a></p>
           </div>
           
       </div>
    </div>
    </div>
</body>
</html>