<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Slider in HTML & CSS</title>
    <link rel="stylesheet" href="fifth.css" />
  </head>
  <body>
    <!-- Card Container -->
  <div class="scroller">
    <div class="scroll">
      <div class="card-header">
        <div class="header-head">
            <h2>Client Stories</h2>
        </div>
        <p>Discover how our AI-driven campaings have transformed Businesses.</p>
    </div>
    <div class="fourth">
        <section class="container">
            <div class="card">
                <div class="star">
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                </div>
                <div class="pre">
                  <p>The team has worked closely aligning with my visions for digital marketing</p>
              <div class="image">
                <img src="/elixzor.jpg" alt="" />
                <h2>Paul</h2>
              <h3>CEO, Elixzor</h3>
              </div>
            </div>
              
            </div>
            <div class="card">
                <div class="star">
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                </div>
                <div class="pre">
                  <p>I highly recommend their services as they provide good value to their customers like me</p>
              <div class="image">
                <img src="/logi.png" alt="" />
                <h2>Juilus</h2>
              <h3>CEO, Loom Genie</h3>
              </div>
            </div>
              
            </div>
            
            <div class="card">
                <div class="star">
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                </div>
                <div class="pre">
                  <p>Our Experience with the AI solutions has been truly remarkable</p>
              <div class="image">
                <img src="/quicklet.png" alt="" />
                <h2>Sarfaraz</h2>
              <h3>CEO, Quicklet</h3>
              </div>
            </div>
              
            </div>
  
            <!-- <div class="card">
                <div class="star">
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                </div>
                <div class="pre">
                  <p>Our Experience with the AI solutions has been truly remarkable</p>
              <div class="image">
                <img src="logo1.png" alt="" />
                <h2>Jane Austen</h2>
              <h3>CEO,XYZ</h3>
              </div>
            </div>
              
            </div>
            <div class="card">
                <div class="star">
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                </div>
                <div class="pre">
                  <p>Our Experience with the AI solutions has been truly remarkable</p>
              <div class="image">
                <img src="logo1.png" alt="" />
                <h2>Jane Austen</h2>
              <h3>CEO,XYZ</h3>
              </div>
            </div>
              
            </div>
            <div class="card">
                <div class="star">
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                </div>
                <div class="pre">
                  <p>Our Experience with the AI solutions has been truly remarkable</p>
              <div class="image">
                <img src="logo1.png" alt="" />
                <h2>Jane Austen</h2>
              <h3>CEO,XYZ</h3>
              </div>
            </div>
              
            </div>
            <div class="card">
                <div class="star">
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                </div>
                <div class="pre">
                  <p>Our Experience with the AI solutions has been truly remarkable</p>
              <div class="image">
                <img src="logo1.png" alt="" />
                <h2>Jane Austen</h2>
              <h3>CEO,XYZ</h3>
              </div>
            </div>
              
            </div>
            <div class="card">
                <div class="star">
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                    <div class="fluent-emoji-flat--star"></div>
                </div>
                <div class="pre">
                  <p>Our Experience with the AI solutions has been truly remarkable</p>
              <div class="image">
                <img src="logo1.png" alt="" />
                <h2>Jane Austen</h2>
              <h3>CEO,XYZ</h3>
              </div>
            </div>
              
            </div> -->
          </section>
    </div>
     </div>
  </div>
  </body>
</html>