<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/logo1.png" />
    <title>Reachify Services</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="services.css">
    <script src="/script.js"></script>
</head>
<body>
    <div class="services-x">
        <div class="aboutlogo">
            <img src="/logo1.png" alt="" srcset="">
            <h1 class="reachify"><a href="../../index.html">Reachify</a></h1>
        </div>
    <div class="service-main">
        <div class="mainheader">
            <p class="main-header">Services</p>
            <p class="main-text">Overview at Reachify</p>
        </div>
        <div class="main-header-content">
            <p>Leverage our AI-enhanced branding services to craft a unique digital identity,</p><p>manage social media effectively, connect with influencers, automate </p> <p>business processes, and ensure robust data security.</p>
        </div>
    
        <p class="service1-head">AI Powered software</p>
        <div class="service1">
            
            <div class="service1-text">
                <p>At Reachify, we are dedicated to paving the path for your business</p>
                <p> expansion. With our team of tech-savvy professionals, we aim to </p>
                <p>provide you with custom AI software services tailored specifically </p>
                <p>to fit your unique business strategies.</p>
            </div>
            <div class="service1-img">
                <img src="/service1.png" alt="" srcset="">
            </div>
        </div>
        <p class="service1-head">Beta Clients</p>
        <div class="service1">
            <div class="service1-img">
                <img src="/service2.png" alt="" srcset="">
            </div>
            <div class="service1-text">
                <p>At Reachify, we guide you through the complexities of the modern </p>
                <p>digital era. Effortlessly boost your social media engagement,</p>
                <p> optimize your content, and ensure you reach the right target </p>
                <p>audience. Count on us to meet your marketing goals!</p>
                <ul>
                    <li>Social Media Marketing</li>
                    <li>Paid Ads</li>
                </ul>
            </div>
            
        </div>
       
    </div>
    </div>

<div class="services-y">
    <div class="service-feature">
        <h1>Features</h1>
    </div>
    
    <div class="features-options">
        <div class="options-text">
            <p style="color: #00000000;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, odio!</p>
            <div><p>Real-time Predictive Analytics</p></div>
            <div><p>Individualized Content Targeting</p></div>
            <div><p>Efficient AI-Driven Automation</p></div>
            <div><p>Scalable for Business Growth</p></div>
            <div><p>AI Chatbots for Enhanced Engagement</p></div>
           <div> <p>Advanced ROI Tracking Precision</p></div>
            <div><p>Adaptive Learning,Market-Ahead</p></div>
            <div><p>Cost-Efficient Automation and Precision</p></div>
            <div><p>Adaptive Campaigns with Data</p></div>
            <div><p>Agile Market Adaptation</p></div>
        </div>
        <div class="ticks">
            <p class="ai">AI-powered Marketing</p>
            <div class="tick"><div class="tick-css"></div></div>
            <div class="tick"><div class="tick-css"></div></div>
            <div class="tick"><div class="tick-css"></div></div>
            <div class="tick"><div class="tick-css"></div></div>
            <div class="tick"><div class="tick-css"></div></div>
            <div class="tick"><div class="tick-css"></div></div>
            <div class="tick"><div class="tick-css"></div></div>
            <div class="tick"><div class="tick-css"></div></div>
            <div class="tick"><div class="tick-css"></div></div>
            <div class="tick"><div class="tick-css"></div></div>
        </div>
        <div class="cross">
            <p class="ai">Traditional Marketing</p>
            <div class="cross-css"></div>
            <div class="cross-css"></div>
            <div class="cross-css"></div>
            <div class="cross-css"></div>
            <div class="cross-css"></div>
            <div class="cross-css"></div>
            <div class="cross-css"></div>
            <div class="cross-css"></div>
            <div class="cross-css"></div>
            <div class="cross-css"></div>
        </div>
    </div>
</div>




































<hr class="hori">

    <!-- sventh -->
    <div class="seventh">
        <div class="seventh-head">
        <h1>Still not sure?</h1>
        <p class="book">Book a call with our experts and get started with your project!</p>
    </div>
    <div class="btn3">
        <button type="submit" onclick="redirectToContact()">CONTACT US</button>
    </div>
    </div>
    

   
    
    
    <div class="footer">
        <hr><br>
     <!--  eighth /Footer -->
     <div class="eigth">
        <div class="eigth-logo">
            <img src="/logo1.png" alt="" srcset="">
            <h3 class="reachify">Reachify</h3>
        </div>
        <div class="eigth-details">
            <div class="eight-first">
                <p class="startp">Stay up to date on the latest features and releases by joining our newsletter</p>
                <div class="email-contact">
                    <div class="eigth-email">
                        <div class="eight-email-inp">
                            <p>Email*</p>
                    <input type="email" placeholder="Enter your e-mail" id="email" required>
                        </div>
                    <div class="btn3">
                        <button type="submit">SUBSCRIBE</button>
                    </div>
                    </div>
                    <p class="lastp">By subscribing you to our newsletters you agree to our <a href="../po/pop.html">privacy policy </a>
                    and consent to recieve updates from our company.</p>
                </div>
    
            </div>
            <div class="eight-second">
                <h2>Useful links</h2>
                <div class="second-details">
                    <p><a href="../About/about.html">About Us</a></p>
                    
                    <p><a href="../client/client.html">Portfolio</a></p>
                    <p><a href="../po/pop.html">Privacy Policy</a></p>
                    <p><a href="../Refund-policy/refund.html">Pricing policy</a></p>
                    <p><a href="../solutions/reachifyapp/reachifyapp.html">Reachify App</a></p>
                    <p><a href="../solutions/Discordify/discordify.html">Discordify</a> </p>
                    <p><a href="../solutions/CRM/crm.html">Outreachify</a> </p>
                </div>
            </div>
            <div class="eight-third">
                <h2>Get in touch</h2>
                <div class="third-contact">
                    <div class="contact-icon"><div class="carbon--phone-filled"></div><p>+91 80693 78147</p></div>
                    <div class="contact-icon"><div class="uiw--mail"></div><p>info@reachify.marketing</p></div>
                    <div class="contact-icon"><div class="mdi--location"></div><p>Business complex Muzzafarpur,<br>Bihar,India.</p></div>
                </div>
            </div>
            <div class="eight-fourth">
                <h2>Follow Us</h2>
                <div class="icons">
                <div class="social-icon"><div class="line-md--linkedin"></div><p><a href="https://www.linkedin.com/company/reachifyinnovations/">LinkedIn</a></p></div>
                <div class="social-icon"><div class="line-md--twitter-x"></div><p>Twitter</p></div>
                <div class="social-icon"><div class="basil--instagram-solid"></div><p><a href="https://www.instagram.com/reachify.marketing?igsh=MWdiOG9kdzByZzkwdg%3D%3D">Instagram</a></p></div>
                <div class="social-icon"><div class="simple-icons--facebook"></div><p>Facebook</p></div>
                </div>    
            </div>
        </div>

    </div>
   
    <!-- Copyright -->
    <div class="copyright">
        <hr>
       <div class="copyright-text">
        <p class="copy">
            © 2024  Reachify - All Rights Reserved 
           </p>
           <div class="right-corner">
          
            <p> <a href="../tnc/tnc.html">Terms of Services</a></p>
           </div>
           
       </div>
    </div>
    </div>
    
</body>
</html>