<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/logo1.png" />
    <title> About Us</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
</head>
<body>
    <div class="abouts">
        <div class="aboutlogo">
            <div class="logo3">
                <img src="/logo1.png" alt="" srcset="">
            <h1 class="reachify"><a href="/index.html">Reachify</a></h1>
            </div>
            <div class="btn-group">
                <button type="submit" onclick="redirectToContact()">CONTACT US</button>
            </div>
        </div>
    
        <div class="about-heading">
            <div class="about-header">
                <h2>About us</h2>
                <p class="header-t">We simplify your marketing needs using AI-driven insights</p>
                <div class="tnt">
                    <p class="header-text">In the heart of innovation and driven by a mission to redefine digital marketing, Reachify was born.</p>
                <p class="header-text"> Founded in 2023, Reachify embarked on a journey to bridge the gap between digital marketing </p>
                <p class="header-text">challenges and the power of AI-driven solutions.</p>
                </div>
            </div>
            
            <div class="about-img">
                    <img src="/aboutmask.png" alt="" srcset="">
            </div>
        </div>
    
    
        <div class="about-question-answer">
            <p class="about-question">Why Reachify?</p>
            <div>
                <p class="about-answer">Amidst a saturated landscape of uniform solutions, Reachify pioneers a dynamic and </p>
            <p class="about-answer"> multifaceted approach, creating pathways for businesses to thrive in the evolving digital</p>
            <p class="about-answer"> ecosystem.</p>
            </div>
    
            <p class="about-question">Our Mission?</p>
            <div>
                <p class="about-answer">To empower businesses from startups to
                    established enterprises with innovative,</p>
                    <p class="about-answer"> transparent, and effective digital marketing solutions.
                    </p>
            </div>
    
                <p class="about-question">What Sets Us Apart?</p>
                <div>
                    <p class="about-answer">At Reachify, we use cutting-edge AI technologies to provide tailored marketing</p>
                <p class="about-answer">strategies that resonate with audiences. Our core belief is trust and transparency with </p>
                <p class="about-answer">our clients.</p>
                </div>
    
                <p class="about-question">The Reachify Promise?</p>
                <div>
                    <p class="about-answer">We commit to delivering solutions that are not only innovative but also inclusive,</p>
                <p class="about-answer"> ensuring all businesses can access the tools to succeed.</p>
                </div>
            
        </div>
      
        <div class="butt2">
            <div class="btn-group">
                <button type="submit" onclick="redirectToContact()">CONTACT US</button>
            </div>
        </div>
        
        
    
    
    
        
        
    
    
    
    
    
    
    </div>




    <div class="footer">
        <hr><br>
     <!--  eighth /Footer -->
     <div class="eigth">
        <div class="eigth-logo">
            <img src="/logo1.png" alt="" srcset="">
            <h3 class="reachify">Reachify</h3>
        </div>
        <div class="eigth-details">
            <div class="eight-first">
                <p class="startp">Stay up to date on the latest features and releases by joining our newsletter</p>
                <div class="email-contact">
                    <div class="eigth-email">
                        <div class="eight-email-inp">
                            <p>Email*</p>
                    <input type="email" placeholder="Enter your e-mail" id="email" required>
                        </div>
                    <div class="btn3">
                        <button type="submit">SUBSCRIBE</button>
                    </div>
                    </div>
                    <p class="lastp">By subscribing you to our newsletters you agree to our <a href="../po/pop.html">privacy policy </a>
                    and consent to recieve updates from our company.</p>
                </div>
    
            </div>
            <div class="eight-second">
                <h2>Useful links</h2>
                <div class="second-details">
                    <p><a href="./about.html">About Us</a></p>
                    
                    <p><a href="../client/client.html">Portfolio</a></p>
                    <p><a href="../po/pop.html">Privacy Policy</a></p>
                    <p><a href="../Refund-policy/refund.html">Pricing policy</a></p>
                    <p><a href="../solutions/reachifyapp/reachifyapp.html">Reachify App</a></p>
                    <p><a href="../solutions/Discordify/discordify.html">Discordify</a> </p>
                    <p><a href="../solutions/CRM/crm.html">CRM</a> </p>
                </div>
            </div>
            <div class="eight-third">
                <h2>Get in touch</h2>
                <div class="third-contact">
                    <div class="contact-icon"><div class="carbon--phone-filled"></div><p>+91 80693 78147</p></div>
                    <div class="contact-icon"><div class="uiw--mail"></div><p>info@reachify.marketing</p></div>
                    <div class="contact-icon"><div class="mdi--location"></div><p>6/40, Business <br>complex Muzzafarpur,<br>Bihar,IN</p></div>
                </div>
            </div>
            <div class="eight-fourth">
                <h2>Follow Us</h2>
                <div class="icons">
                <div class="social-icon"><div class="line-md--linkedin"></div><p><a href="https://www.linkedin.com/company/reachifyinnovations/">LinkedIn</a></p></div>
                <div class="social-icon"><div class="line-md--twitter-x"></div><p>Twitter</p></div>
                <div class="social-icon"><div class="basil--instagram-solid"></div><p><a href="https://www.instagram.com/reachify.marketing?igsh=MWdiOG9kdzByZzkwdg%3D%3D">Instagram</a></p></div>
                <div class="social-icon"><div class="simple-icons--facebook"></div><p>Facebook</p></div>
                </div>    
            </div>
        </div>

    </div>
   
    <!-- Copyright -->
    <div class="copyright">
        <hr>
       <div class="copyright-text">
        <p class="copy">
            © 2024  Reachify - All Rights Reserved 
           </p>
           <div class="right-corner">
          
            <p> <a href="../tnc/tnc.html">Terms of Services</a></p>
           </div>
           
       </div>
    </div>
    </div>
</body>
</html>