<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/logo1.png" />
    <title> Terms and condition</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="refund.css">
    <script src="script.js" defer></script>
</head>
<body>

    <div class="refund">
        <p class="refund-header">Refund Policy at Reachify</p>
        <div class="refund-content">
            <p class="content-header">Introduction</p>
            <div class="content-para">
                <p>At Reachify, we are committed to ensuring satisfaction with our AI-powered software and marketing  services. This Refund Policy outlines the terms under which refunds are processed for our different  categories of services. By purchasing our services, you agree to this Refund Policy.
                </p>

                <p class="para-head">AI-Powered Software Services </p>
                <p>No Refund Policy For all AI-Powered Software Services provided by Reachify, we do not offer refunds once the service  is purchased and accessed. Due to the nature of digital services and the immediate access to our  proprietary AI technology and resources, we cannot offer a refund or exchange after a purchase has  been made. We encourage our clients to thoroughly review the service descriptions, engage in demonstrations if  available, and reach out to our support team for detailed inquiries before making a purchase to  ensure it meets your requirements. </p>

                <p  class="para-head">Beta Clients (AI-Powered Marketing Services) </p>
                <p>50% Money-Back Guarantee</p>
                <p>For our Beta Clients who engage with AI-Powered Marketing Services, Reachify offers a unique  proposition. We are confident in our ability to deliver the results we promise and back this  confidence with a 50% money-back guarantee. Should we fail to achieve the specific outcomes promised at the inception of our agreement, eligible  clients are entitled to a 50% refund of the total service cost. This guarantee is subject to the following  terms: </p>

                <p>1. Eligibility Criteria: To be eligible for the 50% refund, clients must: </p>
                <ul>
                    <li> Have complied with all recommended strategies and provided necessary information  and access as required for the implementation of our services. </li>
                    <li> Have communicated actively with our team to address any concerns during the  service period. 
                    </li>
                </ul>
                
                <p>2. Claim Process: Clients seeking to claim the money-back guarantee must:</p>
                <ul>
                    <li> Submit a claim within 14 days following the end of the service period. </li>
                    <li> Provide a clear explanation of how the promised results were not met, including any  relevant data or metrics.</li>
                </ul>

                <p>3. Review Process: Upon receiving a claim, Reachify will: </p>
                <ul>
                    <li>Conduct a thorough review of the provided information, service logs, and  performance metrics. 
                    </li>
                    <li> Engage in discussions with the client to understand the discrepancy between  promised and achieved results.</li>
                </ul>

                <p>4. Refund Issuance: If Reachify acknowledges the failure to meet the promised results: </p>
                <ul>
                    <li>A refund of 50% of the total service cost will be issued to the client. </li>
                    <li> The refund will be processed within 30 days of the claim approval. </li>
                </ul>

                <p  class="para-head">General Terms </p>
                <ul>
                    <li>
                         This Refund Policy applies exclusively to Reachify’s AI-Powered Software Services and AI Powered Marketing Services for Beta Clients. </li>
                         <li> Refund requests that do not meet the eligibility criteria or are not submitted within the  specified timeframe will not be considered. </li>
                         <li> Reachify reserves the right to modify this Refund Policy at any time. Any changes will be  effective immediately upon posting the updated policy on our website. </li>
                </ul>

                <p>For any questions regarding this Refund Policy or to submit a refund claim, please contact our  customer support team at support@reachify.marketing.</p>
                <p>This policy is effective as of 1.01.2024</p>
                
            </div>
        </div>
    </div>













    <div class="footer">
        <hr><br>
     <!--  eighth /Footer -->
     <div class="eigth">
        <div class="eigth-logo">
            <img src="/logo1.png" alt="" srcset="">
            <h3 class="reachify">Reachify</h3>
        </div>
        <div class="eigth-details">
            <div class="eight-first">
                <p class="startp">Stay up to date on the latest features and releases by joining our newsletter</p>
                <div class="email-contact">
                    <div class="eigth-email">
                        <div class="eight-email-inp">
                            <p>Email*</p>
                    <input type="email" placeholder="Enter your e-mail" id="email" required>
                        </div>
                    <div class="btn3">
                        <button type="submit">SUBSCRIBE</button>
                    </div>
                    </div>
                    <p class="lastp">By subscribing you to our newsletters you agree to our <a href="../po/pop.html">privacy policy </a>
                    and consent to recieve updates from our company.</p>
                </div>
    
            </div>
            <div class="eight-second">
                <h2>Useful links</h2>
                <div class="second-details">
                    <p><a href="../About/about.html">About Us</a></p>
                    
                    <p><a href="../client/client.html">Portfolio</a></p>
                    <p><a href="../po/pop.html">Privacy Policy</a></p>
                    <p><a href="../Refund-policy/refund.html">Pricing policy</a></p>
                    <p><a href="../solutions/reachifyapp/reachifyapp.html">Reachify App</a></p>
                    <p><a href="../solutions/Discordify/discordify.html">Discordify</a> </p>
                    <p><a href="../solutions/CRM/crm.html">CRM</a> </p>
                </div>
            </div>
            <div class="eight-third">
                <h2>Get in touch</h2>
                <div class="third-contact">
                    <div class="contact-icon"><div class="carbon--phone-filled"></div><p>+91 80693 78147</p></div>
                    <div class="contact-icon"><div class="uiw--mail"></div><p>info@reachify.marketing</p></div>
                    <div class="contact-icon"><div class="mdi--location"></div><p>6/40, Business <br>complex Muzzafarpur,<br>Bihar,IN</p></div>
                </div>
            </div>
            <div class="eight-fourth">
                <h2>Follow Us</h2>
                <div class="icons">
                <div class="social-icon"><div class="line-md--linkedin"></div><p><a href="https://www.linkedin.com/company/reachifyinnovations/">LinkedIn</a></p></div>
                <div class="social-icon"><div class="line-md--twitter-x"></div><p>Twitter</p></div>
                <div class="social-icon"><div class="basil--instagram-solid"></div><p><a href="https://www.instagram.com/reachify.marketing?igsh=MWdiOG9kdzByZzkwdg%3D%3D">Instagram</a></p></div>
                <div class="social-icon"><div class="simple-icons--facebook"></div><p>Facebook</p></div>
                </div>    
            </div>
        </div>

    </div>
   
    <!-- Copyright -->
    <div class="copyright">
        <hr>
       <div class="copyright-text">
        <p class="copy">
            © 2024  Reachify - All Rights Reserved 
           </p>
           <div class="right-corner">
            <p><a href="./components/po/pop.html">Cookie Settings</a></p>
            <p> <a href="./components/tnc/tnc.html">Terms of Services</a></p>
           </div>
           
       </div>
    </div>
    </div>
    
</body>
</html>